header {
    text-align: center;
}

.cart__title{
    text-align: center;
}

.mainCart {
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    padding: 0 30px;
}


.mainCart__cart {
    display: flex;
    flex-direction: column;
}

.mainCart__cart {
    display: flex;
    background-color: antiquewhite;
    width: 85%;
}

.Cart__header {
    display: flex;
    align-items: center;
    text-align: center;
}

.cart__products {
    list-style: none;
}

.products__product {
    display: flex;
}

.product__image {
    border: 5px solid black;
}

.product__name {
    width: 100%;
}

.product__extraInfo {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: space-around;
}

.extraInfo__container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.extraInfo__title {
    font-weight: 800;
}

.extraInfo__input {
    width: 60px;
}

.mainCart__price {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}

.price__total {
    text-align: center;
    font-weight: 800;
}

.price__money {

}
