body {
    margin: 0
}


header {
    width: calc(102% - 259px); /* DiferenÃ§a de tamanho do carrinho */
    text-align: center;
}

h1{
    font-family: Arial;
    font-size: 50px;
    color: rgb(16, 50, 129);;
    border: 5px solid rgb(16, 50, 129);;
    border-radius: 5px;
}

.list__title{
    font-family: Arial;
    font-size: 35px;
    color: rgb(16, 50, 129);;
}

.mainStore {
    display: flex;
    justify-content: space-between;
}

.mainStore__list {
    width: calc(100% - 258px); /* DiferenÃ§a de tamanho do carrinho */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.list__product {
    display: flex;
    font-family: arial;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.container__name{
    
    font-size: 16px;
    font-weight: 700;
    color: rgb(16, 50, 129);

}

.container__price{
    color: green;
    font-weight: 1000;
}

.container__department, .container__product{
    font-size: 12px;
}

.container__button{
    width: 70%;
    transition: all 0.3s;
    background-color: green;
    color: white;
    border: 2px solid green;
    border-radius: 5px;
    cursor: pointer;
}

.container__button:hover{
    width: 80%;
}

.product__container {
    width: 225px;
    height: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 5px solid rgb(16, 50, 129);;
    border-radius: 5px;
}

.container__image {
    width: 75px;
    height: 75px;
    border: 1px solid black;
}

.container__description {
    text-align: justify;
}

/* ASIDE DO CARRINHO */

.mainStore__buy {
    height: 100vh;
    width: 230px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(16, 50, 129);;
    position: fixed;
    bottom: 0;
    right: 0;
}

.buy__upperBox {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.upperBox__title {
    font-family: 'Electrolize', sans-serif;
    font-size: 45px;
    color: white;
    text-align: center;
    justify-content: center;
}

.upperBox__cart {
    width: 220px;
    line-height: 1.2;
    gap: 10px;
    color: white;
    font-size: 12pt;
    display: flex;
    flex-direction: column;
    align-items: justify;
    padding: 0;
    list-style: none;
}

.cart__product {
    width: 100%;
    margin-bottom: 20px;
    justify-content: space-around;
    border: 10px solid black;
}

.remove__button{
    color:white;
    transition: all 0.3s;
    float: right;
    justify-content: right;
    background-color:transparent;
    border:2px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.remove__button:hover{
    background-color: red;
}

.buy__info {
    display: flex;
    flex-direction: column;
}

.info__button {
    color: white;
    transition: all 0.3s;
    font-family: 'Electrolize', sans-serif;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    border: 3px solid white;
    margin-bottom: 40px;
}

.info__button:hover {

    border: 6px solid white;
}